
:root {
    --primary-color: #11131F;
    --border-color: #F6F5EF33;
    --primary-text-color: #F6F5EF;
    --primary-text-second-color: #BEC7C2;
    --primary-text-three-color: #A1B5BA;
}

body{
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 1244px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;

}
/*  */
.header {
    border-bottom: 1px solid var(--border-color);
}

.menu{
    display: flex;
    margin-left: 680px;
    
}

.menu__list {
    margin-right: 24px;
    color: var(--primary-text-color);
    
}

.menu__nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 2.8;
    letter-spacing: 3%;
}


.title-header {
 color: var(--primary-text-color);
 margin-left: 21px;
text-decoration: none;
}

.navigation {
    display: inline-flex;
    align-items: center;
}





.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

.body {
    background-color: var(--primary-color);
}

.hero__menu{
    margin-left: 980px;
    padding-top: 118px;
}

.hero__menu__title{
    color: var(--primary-text-color);
    font-size: 60px;
    line-height: 110%;
    display: inline-flex;
    flex-direction: column;
    font-weight: 500;
    width: 554px;
}

.hero__menu__text{
    color: var(--primary-text-color);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    width: 539px;
    line-height: 140%;
    margin-top: -31px;
    margin-bottom: 35px;

}

.color__text{
 color: var(--primary-text-second-color);
 font-style: italic;
}

.color__text__two{
    color: var(--primary-text-three-color);
    font-style: italic;
}

.hero__menu__button__one{
border-radius: 60px;
padding: 14px 28px;
font-size: 18px;
font-style: normal;
font-weight: 700;
letter-spacing: -0.81px;
cursor: pointer;
color: var(--primary-text-color);
background: var(--light-green, #93ABAE);

}

.hero__menu__button__two{
    margin-left: 11px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.81px;
    padding: 14px 28px;
    border-radius: 60px;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-text-color);
}

.main__text{
    color: var(--primary-text-color);
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.44px;
}