.container {
  width: 1144px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1244px) {
  .container {
    max-width: 1244px;
  }
}

.body {
  background-color: var(--primary-color);
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border-color);
}

.menu {
  display: flex;
}

.title-yacht {
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 781px;
  text-transform: uppercase;
}

.menu__list {
  list-style: none;
  margin-right: 24px;
  color: var(--primary-text-color);
}

.menu__nav {
  font-weight: 7000;
  font-size: 14px;
  line-height: 2.8;
  letter-spacing: 3%;
}

.navigation {
  display: inline-flex;
  align-items: center;
}

:root {
  --primary-color: #11131F;
  --border-color: #F6F5EF33;
  --primary-text-color: #F6F5EF;
  --primary-text-second-color: #BEC7C2;
  --primary-text-three-color: #A1B5BA;
}

body {
  font-family: "DM Sans", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

.hero__menu {
  display: flex;
  position: relative;
  margin-left: 980px;
  padding-top: 118px;
}

.hero-card__icons {
  display: flex;
}

.hero__menu__title {
  color: var(--primary-text-color);
  font-size: 60px;
  line-height: 110%;
  display: inline-flex;
  flex-direction: column;
  font-weight: 500;
  width: 554px;
}

.hero__menu__text {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  width: 539px;
  line-height: 140%;
  margin-top: -31px;
  margin-bottom: 35px;
}

.color__text {
  color: var(--primary-text-second-color);
}

.color__text__two {
  color: var(--primary-text-three-color);
}

.hero__menu__button__one {
  border-radius: 60px;
  padding: 14px 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.81px;
  cursor: pointer;
  color: var(--primary-text-color);
  background: var(--light-green, #93ABAE);
}

.hero__menu__button__two {
  margin-left: 11px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  padding: 14px 28px;
  border-radius: 60px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-text-color);
}

.hero-card {
  background-image: url(/imgs/mask-group.png);
  width: 462.022px;
  height: 651.365px;
  flex-shrink: 0;
  position: absolute;
  left: -700px;
  background-repeat: no-repeat;
  padding: 20px;
}

.yacht-card {
  margin-left: 20px;
  margin-top: -45px;
}

.title-card {
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -2.7px;
  margin-left: 35px;
}

.bottom-text-card {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.81px;
  width: 208px;
  height: 36px;
  display: inline-block;
}

.text-card-top {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  width: 96px;
  margin-top: 10px;
}

.img-men-card {
  margin-left: 300px;
  margin-top: -80px;
}

.main {
  padding-top: 164px;
}
@media screen and (min-width: 375px) {
  .main {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .main {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1244px) {
  .main {
    padding-bottom: 164px;
  }
}

@media screen and (min-width: 1244px) {
  .main__box {
    display: flex;
    justify-content: space-between;
  }
}

.main__ul {
  gap: 32px;
  display: flex;
}
@media screen and (min-width: 375px) {
  .main__ul {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .main__ul {
    justify-content: end;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1244px) {
  .main__ul {
    margin-bottom: 64px;
  }
}

.main__text {
  color: var(--primary-text-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.44px;
  width: 514px;
}
@media screen and (min-width: 375px) {
  .main__text {
    font-weight: 500;
    font-size: 24px;
    width: 335px;
  }
}
.menu__li {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  width: 183px;
  height: 242px;
  color: var(--primary-text-color);
}

.menu__li-two {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  width: 185px;
  height: 198px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 375px) {
  .img-yacht-one {
    width: 335px;
    height: 524px;
  }
}
@media screen and (min-width: 768px) {
  .img-yacht-one {
    width: 704px;
    height: 631px;
  }
}
@media screen and (min-width: 1244px) {
  .img-yacht-one {
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    height: 473px;
    width: 533px;
  }
}

@media screen and (min-width: 375px) {
  .img-yacht-two {
    width: 335px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .img-yacht-two {
    width: 308px;
  }
}
@media screen and (min-width: 1244px) {
  .img-yacht-two {
    width: 308px;
    margin-top: -225px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 375px) {
  .img-yacht-three {
    width: 260px;
    height: 244px;
    margin-left: 73px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .img-yacht-three {
    margin-top: -85px;
    margin-left: 335px;
    width: 260px;
  }
}
@media screen and (min-width: 1244px) {
  .img-yacht-three {
    margin-top: -32px;
    margin-left: 372px;
  }
}

.img__text__title {
  position: relative;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  margin-top: -312px;
  font-weight: 500;
  line-height: 110%;
  color: var(--primary-text-color);
}
@media screen and (min-width: 375px) {
  .img__text__title {
    width: 310px;
    font-size: 36px;
    letter-spacing: -1.62px;
    margin-top: -124px;
    margin-left: 19px;
  }
}
@media screen and (min-width: 768px) {
  .img__text__title {
    width: 641px;
    margin-bottom: 64px;
    font-size: 70px;
    letter-spacing: -3.15px;
  }
}
@media screen and (min-width: 1244px) {
  .img__text__title {
    width: 889px;
    font-size: 100px;
    letter-spacing: -3.4px;
  }
}

.hero__text__img {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  padding: 14px 28px;
  border-radius: 60px;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-text-color);
}
@media screen and (min-width: 375px) {
  .hero__text__img {
    margin-top: 25px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text__img {
    margin-top: -30px;
  }
}
@media screen and (min-width: 1244px) {
  .hero__text__img {
    margin-top: -30px;
  }
}

.swiper {
  height: 100%;
}
@media screen and (min-width: 375px) {
  .swiper {
    width: 1057px;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    width: 1115px;
  }
}
@media screen and (min-width: 1244px) {
  .swiper {
    width: 1000px;
  }
}

.swiper-wrappe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -16px;
  margin-left: -16px;
}

.swiper-wrappe > .swiper-slide {
  margin-top: 16px;
  margin-left: 16px;
}
@media screen and (min-width: 375px) {
  .swiper-wrappe > .swiper-slide {
    flex-basis: calc((10% - 16px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .swiper-wrappe > .swiper-slide {
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1244px) {
  .swiper-wrappe > .swiper-slide {
    flex-basis: calc((100% - 96px) / 3);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -40 !important;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px !important;
  right: auto;
}

.our-list {
  display: flex;
  gap: 16px;
}

.list-card {
  padding: 16px 16px 32px 16px;
  font-size: 16px;
  line-height: 1.18;
  background-color: #1f212d;
  border-radius: 24px;
  height: 548px;
}

.list-card__info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.list-card__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
}

.list-card__position {
  color: var(--white, #f6f5ef);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.info-box-one {
  display: flex;
  justify-content: space-between;
}

.img-card {
  margin-left: auto;
  margin-right: auto;
}

.info__list {
  margin-left: 32px;
  margin-top: 32px;
}

.info__text {
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info-box {
  display: flex;
}

.diving-img {
  margin-right: 136px;
  margin-top: 136px;
}
@media screen and (min-width: 375px) {
  .diving-img {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .diving-img {
    width: 704px;
  }
}
@media screen and (min-width: 1244px) {
  .diving-img {
    width: 712px;
  }
}

@media screen and (min-width: 375px) {
  .fishing-img {
    width: 335px;
    margin-right: 136px;
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .fishing-img {
    margin-left: 336px;
    width: 400px;
  }
}
@media screen and (min-width: 1244px) {
  .fishing-img {
    width: 440px;
    margin-left: 775px;
    margin-top: -429px;
  }
}

@media screen and (min-width: 375px) {
  .subnatithing-img {
    margin-right: 136px;
    margin-top: 24px;
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .subnatithing-img {
    margin-left: 76px;
    width: 380px;
  }
}
@media screen and (min-width: 1244px) {
  .subnatithing-img {
    margin-top: 64px;
    margin-left: 352px;
    width: 436px;
  }
}

.flex-rest {
  display: flex;
}

.button-rest {
  color: var(--dark-blue, #11131F);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  margin-left: 32px;
  border-radius: 60px;
  background: var(--white, #F6F5EF);
  position: absolute;
  margin-top: -62px;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .button-rest {
    font-size: 14px;
    letter-spacing: -0.63px;
  }
}
@media screen and (min-width: 1244px) {
  .button-rest {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}

@media screen and (min-width: 375px) {
  .rent {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .rent {
    padding-top: 105px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1244px) {
  .rent {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

.rent > .container {
  display: flex;
  justify-content: space-between;
}

.title-rent {
  color: var(--white, #F6F5EF);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 64px;
}
@media screen and (min-width: 375px) {
  .title-rent {
    font-size: 36px;
    letter-spacing: -1.62px;
    width: 271px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .title-rent {
    width: 287px;
    font-size: 60px;
    letter-spacing: -2.7px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1244px) {
  .title-rent {
    letter-spacing: -2.7px;
    font-size: 60px;
    width: 282px;
    margin-bottom: 64px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 375px) {
  .form {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 280px;
    margin-left: -400px;
  }
}
@media screen and (min-width: 768px) {
  .form {
    margin-top: -35px;
  }
}
@media screen and (min-width: 1244px) {
  .form {
    margin-right: 300px;
    margin-left: 188px;
    margin-top: -55px;
  }
}

.form__label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.72px;
  margin-top: 16px;
  color: rgb(246, 245, 239);
}

.form__input {
  border: none;
  resize: none;
  background-color: rgb(17, 19, 31);
  border-bottom: 1px solid rgb(246, 245, 239);
}
@media screen and (min-width: 375px) {
  .form__input {
    width: 335px;
  }
}
@media screen and (min-width: 1244px) {
  .form__input {
    width: 443px;
  }
}

.form-back {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 19, 31);
  color: var(--white, #F6F5EF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.81px;
  cursor: pointer;
  padding: 0px 23px;
  gap: 16px;
  border-radius: 60px;
  border: 1px solid var(--white, #F6F5EF);
}
@media screen and (min-width: 375px) {
  .button-form {
    margin-top: 34px;
  }
}
@media screen and (min-width: 1244px) {
  .button-form {
    margin-top: 64px;
  }
}

.svg-button-form {
  width: 48px;
  height: 34.66px;
  font-size: 18px;
  margin-top: 23px;
  fill: var(--white, #F6F5EF);
}

.text {
  padding-right: 50px;
}

.color-text-title {
  font-weight: 500;
  line-height: 120%;
  font-style: italic;
  color: var(--white, #F6F5EF);
}
@media screen and (min-width: 375px) {
  .color-text-title {
    width: 335px;
    font-size: 24px;
    letter-spacing: -1.08px;
  }
}
@media screen and (min-width: 768px) {
  .color-text-title {
    width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
@media screen and (min-width: 1244px) {
  .color-text-title {
    letter-spacing: -1.44px;
    width: 497px;
    font-size: 32px;
  }
}

@media screen and (min-width: 375px) {
  .text-position {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .text-position {
    margin-left: 463px;
  }
}
@media screen and (min-width: 1244px) {
  .text-position {
    margin-top: -137px;
    margin-left: 943px;
  }
}

.color-text-two {
  color: var(--white, #F6F5EF);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
@media screen and (min-width: 375px) {
  .color-text-two {
    font-size: 14px;
    letter-spacing: -0.28px;
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .color-text-two {
    width: 273px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
@media screen and (min-width: 1244px) {
  .color-text-two {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 273px;
  }
}

.color-yacht {
  background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team {
  padding-top: 64px;
}

.team-name {
  color: var(--white, #F6F5EF);
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.81px;
}

.team-text {
  align-self: stretch;
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  width: 320px;
}

.team-card {
  padding: 16px 16px 32px 16px;
  font-size: 16px;
  line-height: 1.18;
  background-color: #1F212D;
  border-radius: 24px;
  height: 295px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1244px) {
  .team-card {
    width: 400px;
    margin-bottom: 40px;
  }
}

.img-team {
  margin-top: 20px;
  margin-bottom: 24px;
}

.box-team {
  display: flex;
  justify-content: center;
  margin-right: -64px;
}
@media screen and (min-width: 375px) {
  .box-team {
    margin-left: -64px;
  }
}
@media screen and (min-width: 1244px) {
  .box-team {
    margin-left: -64px;
  }
}

.go-top {
  position: fixed;
  right: 100px;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  display: none;
}

.go-top--show {
  display: block;
}

.our-team {
  display: flex;
}
@media screen and (min-width: 375px) {
  .our-team {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) {
  .our-team {
    gap: 22px;
    width: 728px;
  }
}
@media screen and (min-width: 1244px) {
  .our-team {
    gap: 32px;
    width: auto;
    margin-left: 41px;
  }
}

.footer-section {
  padding-top: 164px;
  padding-bottom: 10px;
}
.border {
  width: 100%;
  border-bottom: 1px rgba(246, 245, 239, 0.2) solid;
}
@media screen and (min-width: 375px) {
  .border {
    margin-bottom: -40px;
  }
}
@media screen and (min-width: 1244px) {
  .border {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 375px) {
  .box-footer {
    margin-top: 64px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .box-footer {
    margin-top: 90px;
  }
}
@media screen and (min-width: 1244px) {
  .box-footer {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  }
}

.position-title-footer {
  width: 200px;
}
@media screen and (min-width: 375px) {
  .position-title-footer {
    margin-bottom: 40px;
  }
}
.title-footer {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 375px) {
  .info {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .info {
    margin-top: -60px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1244px) {
  .info {
    margin-top: unset;
    display: inline-block;
    text-align: center;
    width: 300px;
  }
}

.footer__info {
  color: var(--white, #F6F5EF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .footer__info {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer__info {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1244px) {
  .footer__info {
    margin-left: 16px;
    margin-right: 16px;
    display: inline-flex;
  }
}

.info-icons-footer {
  color: var(--white, #F6F5EF);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (min-width: 375px) {
  .info-icons-footer {
    display: inline-flex;
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .info-icons-footer {
    display: flow;
    text-align: right;
    margin-right: 90px;
    margin-top: -122px;
  }
}
@media screen and (min-width: 1244px) {
  .info-icons-footer {
    display: inline-flex;
    margin: 0px;
  }
}

.footer-icon {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 375px) {
  .footer-icon {
    margin-top: 9px;
  }
}
@media screen and (min-width: 768px) {
  .footer-icon {
    margin-top: 3px;
    margin-left: 530px;
  }
}
@media screen and (min-width: 1244px) {
  .footer-icon {
    margin-left: auto;
    margin-top: 16px;
    justify-content: flex-end;
  }
}

.footer-icon__item {
  width: 44px;
  height: 44px;
}

.footer-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: #F6F5EF;
  background: #11131F;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
}

.footer-icon__icon {
  width: 20px;
}

.text-down-position {
  text-align: center;
}
@media screen and (min-width: 375px) {
  .text-down-position {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .text-down-position {
    margin-top: 110px;
  }
}
@media screen and (min-width: 1244px) {
  .text-down-position {
    margin-top: 132px;
  }
}

.text-down {
  color: rgba(246, 245, 239, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  display: inline-flex;
  margin-left: 13px;
  margin-right: 13px;
}

/* modal */
body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vw;
  background: rgba(255, 0, 0, 0.25);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
@media screen and (min-width: 375px) {
  .backdrop {
    height: 350vh;
    top: -270px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    height: 150vh;
    top: 0;
  }
}
@media screen and (min-width: 1244px) {
  .backdrop {
    height: 100vh;
    top: 0;
  }
}

.modal {
  padding: 24px;
  padding-right: 24px;
  border-radius: 4px;
  width: 100%;
  background-color: #1F212D;
}
@media screen and (min-width: 375px) {
  .modal {
    border-radius: 20px;
    max-width: 335px;
    min-height: 396px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 570px;
    min-height: 522px;
    border-radius: 40px;
    padding-left: 64px;
  }
}
@media screen and (min-width: 1244px) {
  .modal {
    max-width: 570px;
    min-height: 522px;
    border-radius: 40px;
    padding-left: 64px;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
  }
}

.button {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.img-modal {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .img-modal {
    margin-top: 65px;
  }
}
@media screen and (min-width: 1244px) {
  .img-modal {
    margin-top: 65px;
  }
}

.modal-text {
  color: var(--white, #F6F5EF);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 64px;
}
@media screen and (min-width: 375px) {
  .modal-text {
    font-size: 14px;
    letter-spacing: -0.28px;
    width: 287px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-text {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 442px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1244px) {
  .modal-text {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 442px;
    margin-bottom: 64px;
  }
}

.modal-title {
  color: var(--white, #F6F5EF);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 16px;
}
@media screen and (min-width: 375px) {
  .modal-title {
    font-size: 24px;
    letter-spacing: -1.08px;
  }
}
@media screen and (min-width: 768px) {
  .modal-title {
    letter-spacing: -1.44px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1244px) {
  .modal-title {
    letter-spacing: -1.44px;
    font-size: 32px;
  }
}/*# sourceMappingURL=styles.css.map */