


// slider
.swiper {
  height: 100%;

  @media screen and (min-width: 375px) {
    width: 1057px;
  }

  @media screen and (min-width: 768px) {
    width: 1115px;
  }

  @media screen and (min-width: 1244px) {
    width: 1000px;
  }
}

.swiper-wrappe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -16px;
  margin-left: -16px;
}

.swiper-wrappe > .swiper-slide {
  margin-top: 16px;
  margin-left: 16px;

  @media screen and (min-width: 375px) {
    flex-basis: calc((10% - 16px * 1) / 1);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 16px * 2) / 2);
  }

  @media screen and (min-width: 1244px) {
    flex-basis: calc((100% - 32px * 3) / 3);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;

}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -40 !important;
  left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px !important;
  right: auto;
     
}

//

.our-list {
  display: flex;
  gap: 16px;

}

.list-card {
  padding: 16px 16px 32px 16px;
  margin-bottom: 133px;
  font-size: 16px;
  line-height: 1.18;
  background-color: #1f212d;
  border-radius: 24px;
  height: 548px;
}

.list-card__info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.list-card__name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
}

.list-card__position {
  color: var(--white, #f6f5ef);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.info-box-one {
  display: flex;
  justify-content: space-between;
}

.img-card {
  margin-left: auto;
  margin-right: auto;
}

.info__list {
  margin-left: 32px;
  margin-top: 32px;
}

//  .info__item{

.info__text {
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info-box {
  display: flex;
}
