
.cards{

}


.our-list {
display: flex;
justify-content: space-evenly;
}

.list-card {

    margin-bottom: -10px;
    font-size: 16px;
    line-height: 1.18;
    background-color: #1F212D;
    border-radius: 24px;

}


.list-card__info {
    padding-top: 30px;
    padding-bottom: 16px;
}

    .list-card__name {
        margin-bottom: 10px;
        font-weight: 500;
       
    }
    
    .list-card__position {
        margin: 0;
    }

    .img-card{
      margin-left: auto;
      margin-right: auto;
    }