.container {
    width: 1244px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    background-color: var(--primary-color);
}

.list {
    list-style: none;

}

.link {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}