.footer-section{
  padding-top: 164px;
  padding-bottom: 300px;
}

.border{
  width: 100%;
    border-bottom: 1px #F6F5EF33 solid;;
    margin-left: 32px;
    
}

.position-title-footer{
    margin-top: 69px;
    margin-left: 32px;
}

.info{
display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  gap: 24px;
}

.footer__info{
color: var(--white, #F6F5EF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 118%; 
letter-spacing: 0.42px;
text-transform: uppercase;
}


.info-icons-footer{
  color: var(--white, #F6F5EF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; 
text-transform: uppercase;
display: inline-flex;
margin-left: 500px;
}


.footer-icon{
  display: flex;
  margin-left: 1000px;
  margin-top: 16px;
  gap: 16px;

}


.footer-icon__item{
  width: 44px;
  height: 44px;
}

.footer-icon__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
 fill: #F6F5EF;
  background: #11131F;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.50);

}

.footer-icon__icon{
  width: 20px;
}

.text-down{
  color: rgba(246, 245, 239, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%; 
letter-spacing: 0.42px;


}

.text-down-position{
gap: 32px;
display: inline-flex;

 
}