.footer-section{
  padding-top: 164px;
  padding-bottom: 10px;
}

.border{
  margin-bottom: 64px;
    width: 100%;
    border-bottom: 1px #F6F5EF33 solid;   
}

.box-footer {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.position-title-footer{
width: 200px;  
}

// .position-title-footer{
// }

.title-footer{
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  }


.info{
display: inline-block;
width: 300px;
text-align: center;
}

.footer__info{
display: inline-flex;
color: var(--white, #F6F5EF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 118%; 
letter-spacing: 0.42px;
text-transform: uppercase;
margin-left: 16px;
margin-right: 16px;
}

.info-icons-footer{
color: var(--white, #F6F5EF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; 
text-transform: uppercase;
display: inline-flex;
margin: 0px;
}


.footer-icon{
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

.footer-icon__item{
  width: 44px;
  height: 44px;
}

.footer-icon__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
 fill: #F6F5EF;
  background: #11131F;
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.50);
}

.footer-icon__icon{
  width: 20px;
}

.text-down-position {
  margin-top: 132px;
  text-align: center;

}

.text-down{
color: rgba(246, 245, 239, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%; 
letter-spacing: 0.42px;
display: inline-flex;
margin-left: 13px;
margin-right: 13px;
}



