.form{
   
    
   
    

}

.form__label{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; 
letter-spacing: -0.72px;
color: #F6F5EF;
    
}

.form__input{
    border-bottom: 15px;
    width: 443px;
    height: 1px;
    
}

.form-back{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}


