

.form__label{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.72px;
    margin-top: 16px;
    color: rgb(246, 245, 239);
}

.form__input{
  border: none;
    width: 443px;
    resize: none;
    background-color: rgb(17, 19, 31);
    border-bottom: 1px solid rgb(246, 245, 239);
}


.form-back{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    
}


.button-form {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 19, 31);
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.81px;
    cursor: pointer;
    padding: 0px 23px;
    gap: 16px;
    border-radius: 60px;
    border: 1px solid var(--white, #F6F5EF);
}

.svg-button-form {
    width: 44px;
    height: 33.66px;
    font-size: 18px;
    margin-top: 22px;
    fill: var(--white, #F6F5EF);
}


