.header {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid var(--border-color);
}

.menu {
    display: flex;
    // margin-left: 680px;

}
.title-yacht {
    color: var(--primary-text-color);
    text-decoration: none;
    margin-right: 781px;
    text-transform: uppercase;
}



.menu__list {
    list-style: none;
    margin-right: 24px;
    color: var(--primary-text-color);

}

.menu__nav {
    font-weight: 7000;
    font-size: 14px;
    line-height: 2.8;
    letter-spacing: 3%;
}



.navigation {
    display: inline-flex;
    align-items: center;
}