.diving-img{
margin-right: 136px;
margin-top: 136px;
}

.fishing-img{
    margin-left: 780px;
    margin-top: -448px;
}

.subnatithing-img{
    margin-top: 64px;
   margin-left: 352px;
}

.flex-rest{
    display: flex;
}

.button-rest{
color: var(--dark-blue, #11131F);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 110%; 
letter-spacing: -0.81px;
display: inline-flex;
padding: 14px 28px;
align-items: flex-start;
gap: 10px;
border-radius: 60px;
background: var(--white, #F6F5EF);
position: absolute;
margin-top: -62px;
margin-left: 32px;
cursor: pointer;
}