.main {
    padding-top: 324px;

}
.main__box{
    display: flex;
    justify-content: space-between;
}

.main__ul {
    display: flex;
    gap: 32px;
}

.main__text {
    color: var(--primary-text-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.44px;
    width: 514px;
}

.main__text__sp{

}



.main__title{

}

.menu__li{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    width: 183px;
    height: 242px;
    color:var(--primary-text-color);
    // margin-left: 302px;
    // display: flex;
}

.menu__li-two{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
        width: 185px;
        height: 198px;
        color: var(--primary-text-color);
        //  display: flex;
        // margin-left: 517px;
        // margin-top: -422px;
        // display: flex;
        
        
}

