.main__text {
    color: var(--primary-text-color);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1.44px;
    width: 514px;
    margin-top: 334px;
}

.main__text__sp{

}


