.hero__menu {
    display: flex;
    position: relative;
    
    
    @media screen and (min-width: 375px) {
        
        padding-top: 40px;
        padding-left: 20px;
    }

@media screen and (min-width: 768px) {
    
}

    @media screen and (min-width: 1244px) {
        padding-top: 118px;
        margin-left: 1115px;
     } 
}
.hero-card__icons{
    display: flex;

      @media screen and (min-width: 375px) {
        margin-top: 15px;
        width: 135px;
        height: 50px;
        
    }

@media screen and (min-width: 768px) {
    
}

    @media screen and (min-width: 1244px) {
        margin-top: unset;
        width: unset;
        height: unset;
     } 
}

.hero__menu__title {
    color: var(--primary-text-color);
    line-height: 110%;
    flex-direction: column;
    font-weight: 500;

    

    @media screen and (min-width: 375px) {
        font-size: 36px;
        width: 332px;
        display: inline-flex;
    }

@media screen and (min-width: 768px) {
    width: 698px;
    font-size: 60px;
    display: inherit;
}

    @media screen and (min-width: 1244px) {
        font-size: 60px;
        width: 554px;
        margin-left: -100px;
        display: inline-flex;
     } 
}


.hero__menu__text {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    

    @media screen and (min-width: 375px) {       
        font-size: 14px;
        letter-spacing: -0.28px;
        width: 332px;
        margin-top: -14px;
    }

@media screen and (min-width: 768px) {
    width: 539px;
font-size: 16px;
letter-spacing: -0.32px;
}

    @media screen and (min-width: 1244px) {
        font-size: 16px;
        letter-spacing: -0.32px;
        width: 539px;
        margin-bottom: 35px;
        margin-top: -31px;
        margin-left: -100px;
     } 
}

.color__text {
    color: var(--primary-text-second-color);
    
}

.color__text__two {
    color: var(--primary-text-three-color);
   
}

.hero__menu__button__one {
    border-radius: 60px;
    padding: 14px 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.81px;
    cursor: pointer;
    color: var(--primary-text-color);
    background: var(--light-green, #93ABAE);
    
    
    @media screen and (min-width: 375px) {       
        
    }

@media screen and (min-width: 768px) {
    
}

    @media screen and (min-width: 1244px) {
        margin-left: -108px;
     } 
}

.hero__menu__button__two {
    margin-left: 11px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.81px;
    padding: 14px 28px;
    border-radius: 60px;
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-text-color);
}

.hero-card{
    background-image: url(/imgs/mask-group.png);
    background-repeat: no-repeat;
    padding: 20px;
    
    @media screen and (min-width: 375px) {  
        background-size: contain;    
        width: 363.327px;
        height: 465.105px;
        margin-top: 342px;
        margin-left: -350px;
        
    }

@media screen and (min-width: 768px) {
    width: 462.022px;
    height: 601.365px;
    margin-left: -710px;
    margin-top: 342px;
}

    @media screen and (min-width: 1244px) {
    flex-shrink: 0;
    position: absolute;
     left: -700px;
     width: 462.022px;
     height: 651.365px;
     background-size: auto;
     margin-top: -55px;
     margin-left: -50px;
     } 
}


.yacht-card{
    

    @media screen and (min-width: 375px) {
        width: 287px;
        height: 167px;
        margin-bottom: 20px;
        margin-top: -5px;
        
    }

@media screen and (min-width: 768px) {
    width: 378px;
    height: 221px;
    margin-top: -40px;
    margin-bottom: 37px;

}

    @media screen and (min-width: 1244px) {
        margin-top: -44px;
        margin-bottom: unset;
        height: unset;
        width: unset;
     } 
}

.title-card{
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-left: 20px;

@media screen and (min-width: 375px) {
    width: 104px;
    height: 46px;
    font-size: 48px;
    letter-spacing: -2.16px;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    font-size: 60px;
    letter-spacing: -2.7px;

}

@media screen and (min-width: 1244px) {
    font-size: 60px;
    letter-spacing: -2.7px;

 } 
}

.bottom-text-card{
font-style: normal;
font-weight: 400;
display: inline-block;
margin-left: 14px;

@media screen and (min-width: 375px) {
    width: 169px;
    height: 39px;
    font-size: 14px;
    line-height: 140%; 
    letter-spacing: -0.63px;
}

@media screen and (min-width: 768px) {
    width: 208px;
    height: 36px;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.81px;
}

@media screen and (min-width: 1244px) {
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.81px;
    width: 208px;
    height: 36px;
     margin-top: 40px;
 } 
}

.text-card-top{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; 
letter-spacing: 0.56px;
text-transform: uppercase;
width: 96px;
margin-top: 10px;

@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1244px) {
   
 } 
}

.img-men-card{

@media screen and (min-width: 375px) {
    right: 50px;
    width: 133px;
    height: 133px;
    margin-left: 195px;
    margin-top: -75px;
}

@media screen and (min-width: 768px) {
    width: 233px;
    height: 233px;
    margin-left: 335px;
    margin-top: -90px;
}

@media screen and (min-width: 1244px) {
    margin-left: 300px;
    margin-top: -80px;
   
 } 
}