/* modal */

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

}

body.show-modal .modal {
  transform: scale(1);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vw;
  background: rgba(255, 0, 0, 0.25);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
 
  @media screen and (min-width: 375px) {
     height: 350vh;
    top: -270px;
 }

 @media screen and (min-width: 768px) {
  height: 150vh;
   top: 0;
}

 @media screen and (min-width: 1244px) {
   height: 100vh;
   top: 0;
  } 
}

.modal {
  padding: 24px;
  padding-right: 24px;
  border-radius: 4px;
  width: 100%;
  background-color: #1F212D;
 

  @media screen and (min-width: 375px) {
    border-radius: 20px;
    max-width: 335px;
    min-height: 396px;
}

@media screen and (min-width: 768px) {
  max-width: 570px;
  min-height: 522px;
  border-radius: 40px;
  padding-left: 64px;
}

@media screen and (min-width: 1244px) {
  max-width: 570px;
  min-height: 522px;
  border-radius: 40px;
  padding-left: 64px;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
 } 
}

.button{
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.img-modal{
    margin-right: auto;
    margin-left: auto;
    

    @media screen and (min-width: 375px) {
     
        }
        
        @media screen and (min-width: 768px) {
          margin-top: 65px;
        }
        
        @media screen and (min-width: 1244px) {
          margin-top: 65px;
         } 
}

.modal-text{
    color: var(--white, #F6F5EF);
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 64px;

    @media screen and (min-width: 375px) {
font-size: 14px;
letter-spacing: -0.28px;
width: 287px;
margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 442px;
    margin-bottom: 64px;
  }
  
  @media screen and (min-width: 1244px) {
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 442px;
    margin-bottom: 64px;
   } 
}

.modal-title{
    color: var(--white, #F6F5EF);
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    margin-bottom: 16px;

    @media screen and (min-width: 375px) {
      font-size: 24px;
      letter-spacing: -1.08px;
        }
        
        @media screen and (min-width: 768px) {
          letter-spacing: -1.44px;
          font-size: 32px;
        }
        
        @media screen and (min-width: 1244px) {
          letter-spacing: -1.44px;
          font-size: 32px;
         } 
}