
.text{
    padding-right: 50px;
    
}



.color-text-title{
font-size: 32px;
font-weight: 500;
line-height: 120%; 
letter-spacing: -1.44px;
color: var(--white, #F6F5EF);
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 120%;
letter-spacing: -1.44px;
width: 497px;
}

.text-position{
   margin-top: -137px;
    margin-left: 943px;
}

.color-text-two{
    color: var(--white, #F6F5EF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.32px;
    width: 273px;

    
}

.color-yacht{
background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

